﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Üdvözölek a CMS ( :) ) rendszerben.</p>
    <p> A használathoz regisztrálnod kell. A bejelentkezés után használhatod a funkciókat!</p>
    <p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
