﻿@{
    ViewBag.Title = "BanList";
}
<script src="~/Scripts/ui-bootstrap-tpls-0.11.0.js"></script>
<script src="~/app/bannListApp.js"></script>

<h2>BanList</h2>
<div ng-app="bannApp">
    <div ng-controller="BanCtrl">
        <div class="form-group">
            <label for="userNames">Add to Bann list</label>
            <input type="text" ng-model="selectedUser" placeholder="Locations loaded via $http" typeahead="user as user.UserFullName for user in getUsers($viewValue) | filter:{name:$viewValue} | limitTo : 8" typeahead-loading="loadingLocations" class="form-control">
            <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" ng-click="addBann()">Add</button>
        </div>


        <table class="table table-striped">
            <tr>
                <th>
                    Username
                </th>
                <th>
                    Full name
                </th>
                <th>
                    Action
                </th>
            </tr>
            <tr ng-repeat="item in bannList">
                <td>{{item.UserName}}</td>
                <td>{{item.UserFullName}}</td>
                <td>
                    <button class="btn btn-danger" ng-click="removeBann(item.UserId)">Remove</button>
                </td>
            </tr>
        </table>
    </div>
</div>
