﻿@model BusinessLayer.ViewModels.UserListViewModel

@{
    ViewBag.Title = "Index";
}

<h2>User list</h2>

<div class="row">
    <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
        <ul class="event-list">
            @foreach (var item in Model.Users)
            {
                <li class="userItem">
                    <time datetime="2014-07-20">
                        <span class="day">@item.RegistrationDate.Day</span>
                        <span class="month">@item.RegistrationDate.Month</span>
                        <span class="year">@item.RegistrationDate.Year</span>
                    </time>
                    <img alt="AvatAR" src="http://img2.wikia.nocookie.net/__cb20130607025329/creepypasta/images/3/38/Avatar-blank.jpg" />
                    <div class="info">
                        <h2 class="title">@item.UserFullName</h2>
                        <p class="desc">@item.Email</p>
                        <p>
                            <button id="@item.UserId" class="openModal" data-username="@item.UserName">
                                Send Message
                            </button>
                        </p>
                    </div>
                    <div class="social">
                        <ul>
                            <li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
                            <li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
                            <li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
                        </ul>
                    </div>
                </li>
            }

        </ul>

    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Send Mesage</h4>
            </div>
            <div class="modal-body">
                <div id="error" class="alert alert-danger" style="display:none"></div>
                <div id="success" class="alert alert-success" style="display:none">Message sent! :)</div>

                @using (Html.BeginForm("SendMessage", "Message", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input id="userId" hidden />

                    <div class="form-group">
                        <label for="userNames">User name</label>
                        <input type="text" class="form-control" id="userName" placeholder="UserName" disabled>
                    </div>

                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea id="message" class="form-control" placeholder="Text your message"></textarea>
                    </div>
                    <button type="button" class="btn btn-primary" id="sendMessage">Send message</button>
                }

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="closeModelButton">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    $(function () {
        var error = $('#error');
        var success = $('#success');
        var message = $('#message');

        $('#closeModelButton').click(function () {
            error.hide();
            success.hide();
            message.val('');
        });
        $('.openModal').on("click", function () {
            var id = this.id;
            var name = $(this).data("username");

            $('#userId').val(id);
            $('#userName').val(name)
            $('#myModal').modal("show");
        });
        $('#sendMessage').click(function () {
            var userId = $('#userId').val();
            var message = $('#message').val();
            $.ajax({
                type: "POST",
                url: "/Message/SendMessage",
                data: { userId: userId, message: message },
            }).success(function (data) {
                if (data.success) {
                    success.show()
                    error.hide();
                    message.val('');
                }
                else {
                    error.append(data.resultText);
                    error.show();
                }
            }).fail(function (data) {
            });

        });
    });

</script>