﻿
<script src="~/app/sendMessageApp.js"></script>
<script src="~/Scripts/ui-bootstrap-tpls-0.11.0.js"></script>
<h2>MessageSend</h2>

<div ng-app="app">


    <input id="userId" hidden />
    <div class='container-fluid' ng-controller="messageController">
        <div id="error" class="alert alert-danger" ng-show="hasError">{{errorMessage}}</div>
        <div id="success" class="alert alert-success" ng-show="isSucces">Message sent!</div>

        <div class="form-group">
            <label for="userNames">User name</label>
            <input type="text" ng-model="selectedUser" placeholder="Locations loaded via $http" typeahead="user as user.UserFullName for user in getUsers($viewValue) | filter:{name:$viewValue} | limitTo : 8" typeahead-loading="loadingLocations" class="form-control">

            <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>

        </div>

        <div class="form-group">
            <label for="message">Message</label>
            <textarea id="message" class="form-control" placeholder="Text your message" ng-model="messageForSend"></textarea>
        </div>
        <button type="button" class="btn btn-primary" ng-click="sendMessage()">Send message</button>

    </div>
</div>